<html>

<head>
  <style>
    body{
    background-color:black;
    }
    h1 {color:red;}
    p {
    color:yellow;
    font-size:15px;

    }

  </style>
</head>

<h1 style="font-family:verdana;" ><u>Computer Application</u></h1>
<p style="font-family:monospace" align=justify;>Computer Applications (UIL)

Article
Talk
Read
Edit
View history

Tools
From Wikipedia, the free encyclopedia

This article needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed.
Find sources: "Computer Applications" UIL – news · newspapers · books · scholar · JSTOR (November 2016) (Learn how and when to remove this template message)
Computer Applications is one of several academic events sanctioned by the University Interscholastic League Computer Applications is designed to test students' abilities to use word processing, spreadsheet, and database applications software, including integration of applications. It is not the same as the Computer Science contest, which tests programming abilities.

Computer Applications began during the 1994-95 scholastic year, replacing the Keyboarding contest previously held by UIL.

Eligibility
Students in Grade 9 through Grade 12 are eligible to enter this event.

Each school may send up to three students.[]

Computer Applications is an individual contest only; there is no team competition in this event.

Rules and Scoring
The test consists of two parts.

The first part is a five-minute tie-breaker question, which as its name suggests is only used in the event of a tie on the main test. No intermediate time signal is given during the tie-breaker; at the end of the five minutes the students must immediately stop typing, at which point they are instructed to print out their answer.

The second part is the main test. It consists of two questions, which must be completed in 30 minutes. A three-minute preview period is allotted before the test begins. Intermediate time signals are given when 10 minutes and two minutes remain. At the end of 30 minutes the students must immediately stop processing; if they have initiated the print command prior to the end of the test they are allowed to finish printing.

The time periods stated above do not include time for setting up and removing computer equipment.

Any commercially-available laptop or notebook computer can be used during the contest, along with printer, external keyboard/keypad, and mouse. However, only the Microsoft Office[1] applications software package can be used.

Scoring will vary from test to test; the answer key for the questions will be accompanied by a score sheet indicating the value of each item to be scored.

Determining the Winner
The top three individuals will advance to the next round.

The tiebreaker is the score of the five-minute tiebreaker question. In the event a tie remains, all remaining individuals will advance.

For district meet academic championship and district meet sweepstakes awards, points are awarded to the school as follows:

Individual places: 1st—15, 2nd—12, 3rd—10, 4th—8, 5th—6, and 6th—4.
There is no cap on the number of points a school can earn in Computer Applications.</p>
<p style="font-family:monospace">BSc Courses List After 12th
Unlike any other degree, BSc offers you an opportunity to choose from an array of general as well as specialized courses. The following table elucidates some of the best and most frequently-opted BSc courses that you must explore:

    BSc in Information Technology (IT) <br><br>
    BSc Computer Science <br><br>
    BSc Nursing <br><br>
    BSc Fashion Designing <br><br>
    BSc Animation <br><br>
    BSc Mathematics <br><br>
    BSc Agriculture <br><br>
    BSc Nutrition and Dietetics <br><br>
    BSc Forestry <br><br>
    BSc Anesthesia <br><br>
    BSc Nautical Science <br><br>
    BSc Geology <br><br>
    BSc Cardiology <br><br>
    BSc Microbiology <br><br>
    BSc Aeronautics <br><br>
    BSc Aviation <br><br>
    BSc Visual Communication <br><br>

</p>
</body>
</html>